// Regular-400
@font-face {
  font-family: 'G-400';
  src: url('../fonts/Gilroy-Regular.ttf');
}

// Medium-500
@font-face {
  font-family: 'G-500';
  src: url('../fonts/Gilroy-Medium.ttf');
}

// Semibold-600
@font-face {
  font-family: 'G-600';
  src: url('../fonts/Gilroy-Semibold.ttf');
}

// Bold-700
@font-face {
  font-family: 'G-700';
  src: url('../fonts/Gilroy-Bold.ttf');
}