@import '../base/mixins.scss';
.container {
    color: $brand-white;
    max-width: 1200px;
    width: 100%;
}
h1{
    color: $brand-orange;
    font-size: 45px;
    font-family: 'G-500';
}
// .list-wrapper {
//     @include flex
// }
.list-wrapper {
    width: 100%;
    
    margin-top: 50px;
    display: flex;
    cursor: pointer;
   .card{
    
    h2{
        width: 190px;
        font-family: 'G-600';
        font-size: 20px;
        line-height: 24px;
    }
    hr{
        background: $brand-orange;
        margin: 10px 0;
        height: 3px;
        border: 0;
    }
    p{
        width: 260px;
        font-family: 'G-400';
        font-size: 14px;
        line-height: 21px;
    }
   }

   .card2 {
    
    h2{
        width: 260px;
        color: #f1f1f18b;
        font-family: 'G-600';
        font-size: 20px;
        line-height: 24px;
    }
    hr{
        background: #f1f1f18b;
        margin: 10px 0;
        height: 3px;
        border: 0;
    }
    p{
        color: #f1f1f18b;
        width: 260px;
        font-family: 'G-400';
        font-size: 14px;
        line-height: 21px;
    }
    }

    .card3 {
        h2{
            width: 180px;
            color: #f1f1f18b;
            font-family: 'G-600';
            font-size: 20px;
            line-height: 24px;
        }
        hr{
            background: #f1f1f18b;
            margin: 10px 0;
            height: 3px;
            border: 0;
        }
        p{
            color: #f1f1f18b;
            width: 235px;
            font-family: 'G-400';
            font-size: 14px;
            line-height: 21px;
        }
    }
    .card4 {
        h2{
            width: 260px;
            color: #f1f1f18b;
            font-family: 'G-600';
            font-size: 20px;
            line-height: 24px;
        }
        hr{
            background: #f1f1f18b;
            margin: 10px 0;
            height: 3px;
            border: 0;
        }
        p{
            color: #f1f1f18b;
            width: 170px;
            font-family: 'G-400';
            font-size: 14px;
            line-height: 21px;
        }
    }
    
    @media(max-width: 990px){
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        hr{
            width: 260px;
        }
    }
    @media(max-width: 665px){
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0 auto;
    }
    @media(max-width: 750px){
        margin: 40px 0;
    }
    }
    // IMAGES
    .images{
        margin-top: 35px;
        @include flex;
        gap: 25px;

        .scooter1 {
            width: 760px;
            height: 400px;
            border-radius: 15px;
        }
        .scooter2 {
            width: 360px;
            width: 300px;
            
        }

    @media(max-width: 990px){
        display: flex;
        flex-wrap: wrap;
        .scooter1{
            width: 640px;
            height: 380px;
        }
    
     }
    @media(max-width: 715px){
       
        .scooter1{
            width: 520px;
            height: 320px;
        }
    }
    @media(max-width:525px){
        .scooter1{
            width: 420px;
            height: 220px;
        }
    }

    @media(max-width:420px){
        .scooter1{
            width: 320px;
            height: 220px;
        }
        .scooter2{
            width: 220px;
            height: 120px;
        }
    }
    @media(max-width:315px){
        .scooter1{
            width: 220px;
            height: 120px;
        }
        .scooter2{
            width: 200px;
            height: 150px;
        }
    }
}