@import "../base/mixins.scss";

.container {
  width: 100%;

  h1 {
    width: 525px;
    font-family: "G-500", sans-serif;
    font-size: 45px;
    line-height: 50px;
    text-align: left;
    color: $brand-orange;
    margin: 300px 0 30px;

    @media (max-width: 1000px) {
      max-width: 55%;
      font-family: "G-500", sans-serif;
      font-size: 45px;
      line-height: 50px;
      text-align: left;
      color: $brand-orange;
      margin: 300px 0 30px;
    }

    @media (max-width: 853px) {
      font-size: 35px;
      line-height: 40px;
    }

    @media (max-width: 610px) {
      max-width: 100%;
    }
  }

  .img {
    img {
      position: absolute;
      margin-left: 600px;
      top: 300px;

      @media (max-width: 1150px) {
        position: absolute;
        margin-left: 55%;
        top: 300px;
      }

      @media (max-width: 1050px) {
        width: 350px;
        height: 500px;
        top: 300px;
      }

      @media (max-width: 975px) {
        position: absolute;
        margin-left: 55%;
        top: 300px;
      }

      @media (max-width: 610px) {
        margin: 220px 0 0 55%;
        width: 200px;
        height: 250px;
      }

      @media (max-width: 500px) {
        margin: 480px auto;
        width: 300px;
        height: 400px;
      }
    }
  }

  p {
    width: 358px;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: $brand-white;
    margin: 2% 0 1%;

    @media (max-width: 1000px) {
      max-width: 53%;
    }

    @media (max-width: 610px) {
      max-width: 50%;
    }

    @media (max-width: 500px) {
      max-width: 100%;
    }
  }

  .btns {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
    margin: 50px 0 30px;

    @media (max-width: 1100px) {
      margin: 0 0 30px;
    }

    @media (max-width: 610px) {
      margin: 0 auto;
    }

    button {
      width: 135px;
      height: 40px;
      background: $brand-white;
      border-radius: 7px;
      padding: 2px 5px;
      margin-top: 20px;

      @media (max-width: 610px) {
        width: 90px;
        background: $brand-white;
        border-radius: 7px;
        padding: 2px 2px;

        @media (max-width: 431px) {
          margin-top: 30px;
          margin: 10px 0 30px;
        }
      }

      h3 {
        color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        @media (max-width: 610px) {
          font-size: 10px;
          font-family: "G-700", sans-serif;
          display: flex;
          align-items: center;
        }

        img {
          width: 18.42px;
          height: 22.64px;
          top: 7.85px;
          left: 0;
        }
      }
    }
  }
}
