@import '../base/mixins.scss';

.header {
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      @include flex;
      gap: 80px;

      .logo {
        img {
          @media (max-width: 515px) {
            width: 45px;
          }
        }
      }

      .menu {
        @include flex;
        gap: 40px;

        // Media
        @media (max-width: 831px) {
          display: none;
        }

        li {

          .link {
            font-size: 14px;
            font-weight: 400;
            font-family: 'G-400', sans-serif;
            line-height: 21px;
            color: $brand-white;
          }
        }
      }

      .btn {

        // Media
        @media (max-width: 831px) {
          display: none !important;
        }
      }

    }

    .burger {
      width: 30px;
      height: 30px;
      font-size: 32px;
      color: $brand-white;
      display: none;
      position: relative;
      z-index: 99;

      .fa-times {
        font-size: 40px;
      }


      // Media
      @media (max-width: 831px) {
        display: block;
      }

      @media (max-width: 515px) {

        .fa-bars-staggered,
        .fa-times {
          font-size: 25px;
        }
      }
    }
  }

  // mobile-menu
  .mobile-menu {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    @include flex;
    flex-direction: column;
    gap: 80px;
    transition: 0.4s;
    transform: translateX(-100%);

    &.active {
      transform: translate(0);
    }

    .menu {
      @include flex;
      flex-direction: column;
      text-align: center;
      gap: 25px;

      li {

        .link {
          font-size: 18px;
          font-weight: 400;
          font-family: 'G-400', sans-serif;
          line-height: 21px;
          color: $brand-white;
        }
      }
    }
  }
}


// left



.acardion {
  .container{
    padding-top: 220px;
    padding-bottom: 100px;
    .faq {
      h1 {
        color: $brand-orange;
        font-size: 45px;
        font-family: 'G-500', sans-serif;
        max-width: 415px;
        line-height: 49px;
      }
    }
    .scooterMI {
      .text {
        padding-top: 25px;
        padding-bottom: 60px;
        p {
          font-size: 14px;
          font-family: 'G-400', sans-serif;
          max-width: 360px;
          line-height: 21px;
          color: $brand-white;
          padding: 10px 0;
        }
      }
    }
  }
}

// right-accordion

.border{
  border: 3px solid $brand-orange;
  width: 100px;
  border-radius: 3px;
  margin: 20px 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  gap: 70px;
}

.right {

  .accordion {
  width: 660px;
    // box-shadow:  0 0 10px rgb(0, 0, 0, 0.2);
  overflow: hidden;
  color: $white;
  font-family: "G-600", sans-serif;

  .adn {
    padding: 20px;
  }
  
  .accordion__label {
    display: block;
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    transition: background 0.1s;
    position: relative;
    flex-wrap: wrap;
  }
  
  .accordion__label:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  
  .accordion__label::after {
    flex-wrap: wrap;
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 12px;
    height: 6px;
    background-size: contain;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    transition: transform 0.4s;
  }

  .accordion__content {
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
    color: $white;
    flex-wrap: wrap;
  }
  
  .accordion__input {
    display: none;
  }
  
  .accordion__input:checked ~ .accordion__content {
    display: block;
  }
  
  .accordion__input:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
  }
}
}

@media (max-width: 1134px) {
  .wrapper {
    display: flex;
    justify-content: flex-start;
    margin: 40px ;
    flex-wrap: wrap;

    .accordion {
      max-width: 660px;
    }
  }
}

@media (max-width: 717px) {
  .acardion {
    .container {
      .faq{
        h1 {
          font-size: 30px;
        }
      }

      .scooterMI {
        .text {
          p {
            font-size: 14px;
          }
        }
      }
      .btn {
        .question {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 1174px) {
    .right {
      .accordion {
        width: 600px;
      }
    }
}
@media (max-width: 1134px) {
    .right {
      .accordion {
        width: 510px;
      }
    }
}
@media (max-width: 1102px) {
    .right {
      .accordion {
        width: 800px;
      }
    }
}
@media (max-width: 717px) {
    .right {
      .accordion {
        width: 535px;
      }
    }
}
@media (max-width: 600px) {
    .right {
      .accordion {
        width: 485px;
        flex-wrap: wrap;
      }
    }
}
@media (max-width: 550px) {
    .right {
      .accordion {
        width: 405px;
        flex-wrap: wrap;
        margin: 10px 0;
      }
    }
}
@media (max-width: 460px) {
    .right {
      .accordion {
        width: 350px;
        flex-wrap: wrap;
        margin: 1px 0;
      }
    }
}
