@import "../base/mixins.scss";

.shop-mi {
  margin-top: 700px;
  .container {
    width: 100%;

    .box {
      max-width: 1160px;
      height: 550px;
      left: 140px;
      border-radius: 15px;
      background: rgba(21, 21, 21, 1);
      margin: 0 auto;

      ul {
        position: absolute;
        margin-top: 60px;
        margin-left: 900px;

        @media (max-width: 1130px) {
          margin: 180px 0 0 60px;
        }

        p:first-child {
          font-family: "G-600", sans-serif;
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 20px;
          text-align: left;
        }

        p {
          font-family: "G-400", sans-serif;
          font-size: 14px;
          line-height: 21px;
          color: $brand-white;
        }
      }

      h1 {
        width: 50%;
        top: 30px;
        font-family: "G-500", sans-serif;
        color: $brand-white;
        font-size: 45px;
        padding: 60px 0 0 60px;

        span {
          color: $brand-orange;
          font-family: "G-600", sans-serif;
          font-size: 30px;
          font-weight: 600;
          line-height: 36px;
        }
      }

      img {
        position: absolute;
        margin-left: 600px;
        top: 1420px;
        border-radius: 15px 0;
      }

      button {
        margin: 250px 0 0 60px;
      }
    }
  }
}
