@import '../../../assets/base/mixins.scss';

.sectionn {
    background: url(@/assets/images/white-scooter.png) no-repeat top right / contain;

    .container {
        padding-top: 40px;

        .leeft {
            padding: 150px 0;

            .item-text {
                h1 {
                    font-size: 80px;
                    font-family: 'G-600', sans-serif;
                    color: $brand-white;
                    max-width: 1050px;
                }
            }

            .p-text {
                padding: 40px 0;

                p {
                    font-size: 25px;
                    font-family: "G-600", sans-serif;
                    color: $brand-orange;
                    width: 300px;
                }
            }

            .btnn {
                border: 3px solid #fff;
                background: #222222;
                border-radius: 108px;
                width: 231px;
            }
        }
    }
}

@media (max-width: 800px) {
    .sectionn {
        .container {
            .leeft {
                padding: 90px 0;

                .item-text {
                    h1 {
                        font-size: 40px;
                        flex-wrap: wrap;
                    }
                }

                .p-text {
                    p {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}